<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>
<form th:action="@{/admin/addUser}" method="get" style="display: inline;">
    <button type="submit">Add New User</button>
</form>
<form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit">Logout</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td><span th:each="role : ${user.roles}" th:text="${role.name}"></span></td>
        <td>
            <form th:action="@{/admin/editUser/{id}(id=${user.id})}" method="get" style="display: inline;">
            <button type="submit">Edit</button>
            </form>
            <form th:action="@{/admin/deleteUser/{id}(id=${user.id})}" method="post"
                  style="display:inline;">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>