<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/editUser/{id}(id=${user.id})}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{user.email}" placeholder="Email" required />
    <input type="password" th:field="*{user.password}" placeholder="Password" required />
    <select name="roleIds" multiple>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
                th:checked="${user.roles.contains(role)}"></option>
    </select>
    <button type="submit">Save</button>
</form>
</body>
</html>